@page "/Transacoes/edit"

@using Microsoft.EntityFrameworkCore
@using TesteDaUmbler.Models
@inject IDbContextFactory<TesteDaUmbler.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Transacao</h4>
<hr />
@if (Transacao is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Transacao" OnValidSubmit="UpdateTransacao" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Transacao.Id" value="@Transacao.Id" />
                <div class="mb-3">
                    <label for="valor" class="form-label">Valor:</label>
                    <InputNumber id="valor" @bind-Value="Transacao.Valor" class="form-control" />
                    <ValidationMessage For="() => Transacao.Valor" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="estadodatransacao" class="form-label">EstadoDaTransacao:</label>
                    <InputText id="estadodatransacao" @bind-Value="Transacao.EstadoDaTransacao" class="form-control" />
                    <ValidationMessage For="() => Transacao.EstadoDaTransacao" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/transacoes">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Transacao? Transacao { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Transacao ??= await context.Transacao.FirstOrDefaultAsync(m => m.Id == Id);

        if (Transacao is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateTransacao()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Transacao!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!TransacaoExists(Transacao!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/transacoes");
    }

    bool TransacaoExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Transacao.Any(e => e.Id == id);
    }
}
